body{
     display: grid;
     place-items: center;
     height: 100vh;
}
form{
     gap: 1.5rem;
     display: flex;
     flex-direction: column;
     width: 100%;
     max-width: 35rem;
}

input{
     padding: 0.8rem 0;
}

button{
     padding: 0.8rem 0;
}